@use '../../assets/styles/variables';

.card {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    height: 10rem;
    width: 30rem;
    border: 2px solid variables.$outline ;
    border-radius: 25px;

    a {
        height: inherit;
        width: inherit;
        text-decoration: none;
        color: inherit;
    }

    &.game {
        height: 15rem;
        width: 40rem;

        .content {
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: space-between;
            height: inherit;
            width: inherit;

            .icon {
                height: 50%;
                width: auto;
                margin: 0 2.5em;
            }
    
            .name {
                flex: 1;
                font-weight: 800;
                font-size: 3rem;
                font-weight: bold;
                color: white;
                /* height: 5em;
                width: 100%; */
                margin: 1rem 0 0 0;
                text-align: center;
            }
        }

        .art {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 1;
            z-index: -1;
            transition: opacity 0.3s ease-in-out;
        }

        .description {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            margin: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        &:hover {
            .art {
                opacity: 0;
            }

            .icon {
                opacity: 0;
            }

            .name {
                opacity: 0;
            }

            .description {
                opacity: 1;
            }
        }
      }
    
    &.projects {
        height: 15rem;
        width: 40rem;
    }

    .icon {
        height: 75%;
        width: auto;
        margin: 0 2.5em;
    }

    .text-content {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
            font-weight: 800;
            font-size: 1.2rem;
            height: 5em;
            width: 100%;
            margin: 1rem 0 0 0;
            text-align: center;
            font-weight: bold;
        }

        .description {
            font-weight: 500;
            margin: 0;
        }

        .bar-content {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .skill {
                font-weight: 700;
                margin-right: 1rem;
            }

            .skill-value {
                font-weight: 700;
                margin: 0 1rem;
                padding: 0 1em 0 0.5em;
            }
        }
    }
}