@use '../../assets/styles/variables';

.Bar {
    width: 100%;
    height: 15%;
    background-color: variables.$background-ligth-color;
    outline: 2px solid variables.$outline;
    overflow: hidden;

    .Value {
        height: 100%;
        background-color: variables.$primary-color;
    }
}