.projects {
  /* .text-zone{

  } */
}
.projects .card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 0 50%;
}
.projects .card-grid > * {
  justify-self: center;
}
.projects .card-grid > *:nth-child(2n+1) {
  grid-column: 1/2;
}
.projects .card-grid > *:nth-child(2n) {
  grid-column: 2/3;
}
.projects .card-grid > *:nth-child(2n+1):nth-last-of-type(1) {
  grid-column: 1/3;
}