@use './variables';

body {
  background-color: variables.$background-color;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  background-color: variables.$background-dark-color;
  color: white;
  padding: 3em;
}