.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    background-color: #100a0e;
}

.grid {
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}